<h3 class="pagination-centered">Create a New Gift List </h3>
<%= form_for @new_recipient do |f| %>
<div data-role="fieldcontain">
	<%= f.label :alias, "Their name" %>
	<%= f.text_field :alias %>
</div>
<%= f.submit('Add Someone New') %>
<%end%>

<hr></hr>
<h3 class="pagination-centered">Existing Gift Lists </h3>
<div class="pagination-centered">
	<% @recipients.each do |recipient| %>
	<% unless recipient.id.nil? %>
	<%= link_to recipient.alias,recipient_path(recipient.id), "data-role" => "button" %>	
	<%end%>
	<%end%>
</div>